apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
data:
  Corefile: |
    .:53 {
        errors
        health
        ready
        kubernetes cluster.local in-addr.arpa ip6.arpa {
          pods insecure
          fallthrough in-addr.arpa ip6.arpa
        }
        hosts /etc/coredns/NodeHosts {
          ttl 60
          reload 15s
          fallthrough
        }
        prometheus :9153
        cache 30
        loop
        reload
        loadbalance
        import /etc/coredns/custom/*.override
        forward . {{ fritzbox_dns_ip | default('192.168.178.1') }}
    }
    import /etc/coredns/custom/*.server
  NodeHosts: |
{% for host in groups['k3s_servers'] | default([]) %}
    {{ hostvars[host].ansible_host }} {{ host }}
{% endfor %}
    {{ traefik_lb_ip }} {{ nextcloud_hostname }} {{ office_hostname }} {{ longhorn_hostname }}
