---
- name: Apply CoreDNS ConfigMap (NodeHosts)
  ansible.builtin.template:
    src: coredns-configmap.yaml.j2
    dest: /tmp/coredns-configmap.yaml
    mode: '0644'

- name: Update CoreDNS ConfigMap
  ansible.builtin.command: /usr/local/bin/k3s kubectl apply -f /tmp/coredns-configmap.yaml
  changed_when: true

- name: Restart CoreDNS deployment
  ansible.builtin.command: /usr/local/bin/k3s kubectl -n kube-system rollout restart deploy/coredns
  changed_when: true

- name: Wait for CoreDNS rollout
  ansible.builtin.command: /usr/local/bin/k3s kubectl -n kube-system rollout status deploy/coredns --timeout=180s
  changed_when: false
  failed_when: false
