---
- name: Deploy kube-vip manifests
  hosts: prodservers,testservers
  become: yes
  vars:
    kubevip_manifests_dir: /var/lib/rancher/k3s/server/manifests
  pre_tasks:
    - name: Validate kube-vip VIP and range variables
      ansible.builtin.assert:
        that:
          - kubevip_api_vip is defined
          - kubevip_api_vip | trim != ''
          - kubevip_service_range_start is defined
          - kubevip_service_range_start | trim != ''
        fail_msg: "Set kubevip_api_vip and kubevip_service_range_start via group_vars or -e before running this play."
    - name: Compute service range end address
      ansible.builtin.set_fact:
        kubevip_service_range_end_final: "{{ kubevip_service_range_end | default(kubevip_service_range_start) }}"

    - name: Fail if VIP overlaps a node static IP
      ansible.builtin.assert:
        that:
          - kubevip_api_vip not in (
              (groups.get('prodservers', []) + groups.get('testservers', []))
              | map('extract', hostvars, 'static_ip')
              | select('defined')
              | list
            )
        fail_msg: "kubevip_api_vip ({{ kubevip_api_vip }}) overlaps a node static_ip. Pick an unused address."

    - name: Fail if VIP already responds to ping (likely already in use)
      ansible.builtin.command: "ping -c 1 -W 1 {{ kubevip_api_vip }}"
      delegate_to: localhost
      become: false
      register: vip_ping
      changed_when: false
      failed_when: vip_ping.rc == 0
  tasks:
    - name: Ensure k3s config.d directory exists
      ansible.builtin.file:
        path: /etc/rancher/k3s/config.d
        state: directory
        owner: root
        group: root
        mode: '0755'
      when: inventory_hostname in groups.get('k3s_servers', [])

    - name: Render TLS SAN fragment for kubeVIP
      ansible.builtin.template:
        src: ../templates/k3s-vip-tls-san.yaml.j2
        dest: /etc/rancher/k3s/config.d/10-vip-tls-san.yaml
        mode: '0644'
      when: inventory_hostname in groups.get('k3s_servers', [])
      notify: restart k3s

    - name: Ensure kube-vip manifest directory exists
      ansible.builtin.file:
        path: "{{ kubevip_manifests_dir }}"
        state: directory
        owner: root
        group: root
        mode: '0755'
      when: inventory_hostname in groups.get('k3s_servers', [])

    - name: Deploy kube-vip DaemonSet
      ansible.builtin.template:
        src: ../templates/kube-vip.yaml.j2
        dest: "{{ kubevip_manifests_dir }}/kube-vip.yaml"
        mode: '0644'
      when: inventory_hostname in groups.get('k3s_servers', [])

    - name: Deploy kube-vip service range ConfigMap
      ansible.builtin.template:
        src: ../templates/kube-vip-configmap.yaml.j2
        dest: "{{ kubevip_manifests_dir }}/kube-vip-configmap.yaml"
        mode: '0644'
      when: inventory_hostname in groups.get('k3s_servers', [])

    - name: Deploy kube-vip cloud provider manifest
      ansible.builtin.copy:
        src: ../files/kube-vip-cloud-provider.yaml
        dest: "{{ kubevip_manifests_dir }}/kube-vip-cloud-provider.yaml"
        mode: '0644'
      when: inventory_hostname in groups.get('k3s_servers', [])

    - name: Wait for kube-vip daemonset to roll out
      ansible.builtin.command: /usr/local/bin/k3s kubectl -n kube-system rollout status ds/kube-vip-ds --timeout=180s
      register: kubevip_rollout
      retries: 10
      delay: 10
      until: kubevip_rollout.rc == 0
      changed_when: false
      run_once: true
      delegate_to: "{{ (groups.get('k3s_servers', []) | first) | default(inventory_hostname) }}"
      when: (groups.get('k3s_servers', []) | length) > 0

  handlers:
    - name: restart k3s
      ansible.builtin.systemd:
        name: k3s
        state: restarted
      become: yes
