name: smarthome_app
description: SmartHome Flutter App for controlling smart home devices via MQTT.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter

  flutter_riverpod: ^2.6.1
  go_router: ^14.6.3
  mqtt_client: ^10.8.0
  intl: ^0.20.2
  flutter_svg: ^2.0.17
  logger: ^2.5.0
  flutter_local_notifications: ^18.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
