---
# Cluster-side Longhorn node configuration only (no Helm install/upgrade).
# Safe to run repeatedly.

- name: Label Longhorn default disk nodes
  ansible.builtin.command: >-
    /usr/local/bin/k3s kubectl label node {{ item }} node.longhorn.io/create-default-disk=true --overwrite
  loop: "{{ groups['storage_nodes'] | default([]) }}"
  changed_when: false
  failed_when: false

- name: Disable Longhorn default disk on non-storage server nodes
  ansible.builtin.command: >-
    /usr/local/bin/k3s kubectl label node {{ item }} node.longhorn.io/create-default-disk=false --overwrite
  loop: "{{ (groups['k3s_servers'] | default([])) | difference(groups['storage_nodes'] | default([])) }}"
  changed_when: false
  failed_when: false

- name: Annotate Longhorn default disk path on storage nodes
  ansible.builtin.command: >-
    /usr/local/bin/k3s kubectl annotate node {{ item }}
    node.longhorn.io/default-disks-config='[{"path":"{{ longhorn_data_path }}","allowScheduling":true}]'
    --overwrite
  loop: "{{ groups['storage_nodes'] | default([]) }}"
  changed_when: false
  failed_when: false
