---
apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom
  namespace: kube-system
data:
  mosquitto-intern.server: |
    mosquitto.intern:53 {
        errors
        cache 30
        rewrite name exact mosquitto.intern mosquitto.mosquitto.svc.cluster.local
        forward . 10.43.0.10
        reload 5s
    }

  nextcloud-intern.server: |
    nextcloud.intern:53 {
        errors
        cache 30
        rewrite name exact nextcloud.intern nextcloud.nextcloud.svc.cluster.local
        forward . 10.43.0.10
        reload 5s
    }

  argocd-intern.server: |
    argocd.intern:53 {
        errors
        cache 30
        rewrite name exact argocd.intern argocd-server.argocd.svc.cluster.local
        forward . 10.43.0.10
        reload 5s
    }

  envoym1.server: |
    envoym1:53 {
        errors
        cache 30
        rewrite name exact envoym1 envoym1.fritz.box
        forward . 192.168.178.1
        reload 5s
    }

  envoym3.server: |
    envoym3:53 {
        errors
        cache 30
        rewrite name exact envoym3 envoym3.fritz.box
        forward . 192.168.178.1
        reload 5s
    }

  fritz.box.server: |
    fritz.box:53 {
        errors
        cache 30
        forward . 192.168.178.1
        reload 5s
    }

  intern.server: |
    intern:53 {
        errors
        cache 30
        forward . 10.43.11.255
        reload 5s
    }
