---
apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom
  namespace: kube-system
data:
{% for service, target in intern_service_rewrites.items() %}
  {{ service }}-intern.server: |
    {{ service }}.intern:53 {
        errors
        cache 30
        rewrite name exact {{ service }}.intern {{ target }}
        forward . 10.43.0.10
        reload 5s
    }

{% endfor %}
  envoym1.server: |
    envoym1:53 {
        errors
        cache 30
        rewrite name exact envoym1 envoym1.fritz.box
        forward . 192.168.178.1
        reload 5s
    }

  envoym3.server: |
    envoym3:53 {
        errors
        cache 30
        rewrite name exact envoym3 envoym3.fritz.box
        forward . 192.168.178.1
        reload 5s
    }

  fritz.box.server: |
    fritz.box:53 {
        errors
        cache 30
        forward . 192.168.178.1
        reload 5s
    }

  intern.server: |
    intern:53 {
        errors
        cache 30
        forward . 10.43.11.255
        reload 5s
    }
