@page "/"

<h1>Temperaturanzeige</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-12">
            <DataValueTextControl Value="15.4m" Unit="°C" LastUpdated="@DateTime.Now" title="Außen"></DataValueTextControl>
        </div>
        <div class="col-sm-6 col-12">
            <DataValueTextControl Value="21.5m" Unit="°C" LastUpdated="@DateTime.Now" title="Wohnzimmer"></DataValueTextControl>
        </div>
    </div>
</div>
@code {
    
}