@page "/"
@using Azure.Data.Tables;
@using DataContracts;

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Raumklima</h1>
    <button class="btn btn-primary" @onclick="LoadData">Refresh Data</button>
</div>

<div class="container">
    <div class="row">
        @foreach (var partitionKey in PartitionKeys.Keys)
        {
            if (!partitionKey.Contains("temperature"))
            {
				continue;
			}
            <div class="col-md-3 col-6">
                <DataValueTextControl Value="@Data[partitionKey].Value"
                                      Unit="°C"
                                      Value2="@Data[partitionKey.Replace("_temperature", "_humidity")].Value"
                                      Unit2="%"
                                      LastUpdated="@Data[partitionKey].LocalTime"
                                      title="@PartitionKeys[partitionKey]">
                </DataValueTextControl>
            </div>
        }
    </div>
</div>
@code {
    private TableClient tableClient;
    private Dictionary<string, DataValueTableEntity> Data = new();

    string storageAccountName = "smarthomestorageprod";
    string hiResTableName = "SmartHomeClimateRawData";
    string loResTableName = "SmartHomeClimateHourAggregationData";

    private Dictionary<string, string> PartitionKeys = new()
    {
        { "1c50f3ab6224_temperature", "Außen" },
        { "1420381fb608_temperature", "Wohnzimmer" },
        { "1c50f3ab6224_humidity", "Außen Luftfeuchte" },
        { "1420381fb608_humidity", "Wohnzimmer Luftfeuchte" },
    };

    protected override void OnInitialized()
    {
        LoadData();
    }

    private void LoadData()
    {
        Data = new Dictionary<string, DataValueTableEntity>();
        tableClient = new TableClient(
            new Uri(Secrets.StorageSecrets.StorageUri),
            hiResTableName,
            new TableSharedKeyCredential(storageAccountName, Secrets.StorageSecrets.StorageKey)
            );

        foreach (var partitionKey in PartitionKeys.Keys)
        {
            var queryString =
                $"PartitionKey eq '{partitionKey}' ";
            var query = tableClient.Query<DataValueTableEntity>(queryString, 1);
            if (query.Any())
            {
                Data.Add(partitionKey, query.First());
            }
        };

        InvokeAsync(StateHasChanged);
    }
}