defaultSettings:
  defaultDataPath: {{ longhorn_data_path }}
  createDefaultDiskLabeledNodes: true
  defaultReplicaCount: {{ longhorn_replica_count }}
  replicaSoftAntiAffinity: false
  taintToleration: "node-role.kubernetes.io/master:NoSchedule;node-role.kubernetes.io/control-plane:NoSchedule"

persistence:
  defaultClass: true
  defaultClassReplicaCount: {{ longhorn_replica_count }}

ingress:
  enabled: false
